<div class="container home">
  <div class="container  ">
  <nav class="navbar navbar-expand bg-white fixed-top ">
    <a class="navbar-brand" href="/">
      <img src="/images/logo.png" width="100" height="35" class="d-inline-block align-top logo" alt="">
    </a>
      <ul class="navbar-nav">
          <li><a href="#">FEATURES</a></li>
          <li><a href="#footer">CONTACT</a></li>
          <li><a href="login">LOGIN</a></li>
     </ul>
  </nav>
    <div class="row mainRow">
      <div class="col-6 animated slideInDown slow headerText">
        <p class="display-4" id="dailyText">DAILY TASK PLANNING</p>
         <h1 class="lead" id="simpleText">MADE SIMPLE </h1>

        <a class="btn btn-rounded waves-effect btn-default" href="/login" role="button" style="color:white !important; font-size: 18px">LOGIN
        </a>
      </div>
    <div class="col-6 blob">
         <img src="/images/mac.png" width="400" height="270"  id="mac" alt="">
      <img src="/images/blob.png" width="500" height="500" class="animated slideInRight slow" alt="">
   
    </div>
  </div>
</div>
</div>
<!-- Footer -->
<footer id="footer">
  <!-- Social buttons -->
  <ul class=" list-inline text-center">
    <li class="list-inline-item">
      <a href="https://github.com/jeraithel" class="btn-floating btn-fb mx-1">
        <i class="fab fa-github"> Justin Raithel</i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://github.com/JimTatarakis" class="btn-floating btn-tw mx-1">
        <i class="fab fa-github"> Jim Tatarakis </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://github.com/kellidragon" class="btn-floating btn-dribbble mx-1">
        <i class="fab fa-github"> Kelli Dragon</i>
      </a>
    </li>
  </ul>
</footer>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>