<div id="login">
    <div class="container ">
        <div class="row loginRow">
            <div class="col loginCont">

                {{!-- <div class="form-group"> --}}
                <nav class="navbar navbar-expand bg-white fixed-top ">
                    <a class="navbar-brand" href="/">
                        <img src="/images/logo.png" width="100" height="35" class="d-inline-block align-top logo"
                            alt="">
                    </a>
                    <ul class="navbar-nav">
                        <li><a href="#">FEATURES</a></li>
                        <li><a href="#footer">CONTACT</a></li>
                    </ul>
                </nav>

                <!-- <h1>{{msg}}</h1> -->
                      <div class="formAlign">
                <form action="/login" method="post" id="loginForm">
                    {{Message}}
                    <div>
                        <label>Username:</label>
                        <input type="text" name="username" />
                    </div>
                    <div>
                        <label>Password:</label>
                        <input type="password" name="password" />
                    </div>
                    {{Errors}}
                    <div>
                        <input class="btn btn-rounded waves-effect btn-default" style="color:white !important;"
                            type="submit" value="Log In" />
                        </a>
                    </div>
                    <div><a href="register">Register</a></div>
                </form>
                </div>
                <img src="/images/login.png" width="500" height="500" id="loginCircle" alt="">


            {{!-- </div> --}}
        </div>
    </div>
    

</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>`