<div id="adduser">
<div class="form-group">

    <!-- <h1>{{msg}}</h1> -->
    <form action="/api/users" method="post">
        <div>
            <label>Username:</label>
            <input type="text" name="username" />
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" />
        </div>
        <div>
            <label>Display Name:</label>
            <input type="text" name="displayName" />
        </div>
        <div>
            <label>Email:</label>
            <input type="email" name="email" />
        </div>
        <div>
            <input type="submit" value="Create User" />
        </div>
    </form>

</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>



