<div id="user">
<div class="container">
{{!-- <div class="form-group"> --}}
  <nav class="navbar navbar-expand bg-white fixed-top ">
      <a class="navbar-brand" href="/">
          <img src="/images/logo.png" width="100" height="35" class="d-inline-block align-top logo"
              alt="">
      </a>
      <ul class="navbar-nav">
          <li><a href="#">FEATURES</a></li>
          <li><a href="#footer">CONTACT</a></li>
          <li><a href="login">LOGIN</a></li>
      </ul>
  </nav>
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          <p>
            {{!-- <strong>ID</strong>: {{example.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{example.text}}</p>
          <p>
            <strong>Description:</strong> {{example.description}}</p>
            <a href="/">← Back To Home</a> --}}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<footer id="footer">
  <!-- Social buttons -->
  <ul class=" list-inline text-center">
    <li class="list-inline-item">
      <a href="https://github.com/jeraithel" class="btn-floating btn-fb mx-1">
        <i class="fab fa-github"> Justin Raithel</i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://github.com/iJmTatarakis" class="btn-floating btn-tw mx-1">
        <i class="fab fa-github"> Jim Tatarakis </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://github.com/kellidragon" class="btn-floating btn-dribbble mx-1">
        <i class="fab fa-github"> Kelli Dragon</i>
      </a>
    </li>
  </ul>
</footer>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>`