*{
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.home, #login, #manager, #user{
  width: 100%;
}

.logo{
  margin-left: 30px;
}

body{
  height: 100%;
  width: 100%;
}

.navbar{
  position: fixed;
}

.headerText{
  margin-top: 30%;
}

/* .container{
  padding-left: 30px !important;
} */

#dailyText{
  font-size: 24px;
  font-weight: 300;
  color: #ee826c;
}

.blob{
  margin-top: 15%;
  z-index: -1;
  position: relative;
}

.navbar-nav{
  margin-left: 70%;
  color: #ee826c;
  text-decoration: none;
}

li{
  padding: 0 15px;
}

.list-inline-item{
  padding: 0 55px;
}

a{
  color: #ee826c !important; 
}

a:hover{
  border: 1px solid #4aaaa5;
}

#mac{
z-index: 99;
top: 20%;
margin-left: 10%;
position: absolute;

}

#simpleText{
  font-size: 45px;
  color: #ee826c;
  font-weight: 400;

}

.loginCont{
   margin-top: 10%;
   text-align: center;
}

#loginCircle{
 z-index: -1; 
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 50%;
 position: relative;
}

ul{
  text-align: left;
}


#loginForm{
z-index: 99;
position: absolute;
width: 95%;
margin: 190px auto;
text-align: center;
}

#registeredForm{
  text-align: right;
  position: absolute;
  margin: 15% auto;
  width: 60%;
}

#registerForm{
  text-align: center;
}
.taskRow{
  margin-top: 100px;
}

.addTaskRow, .userHi{
margin-top: 100px;
text-align: center;
}

.addTask{
  margin-top: 50px;
}

#userAdded{
  margin-bottom: 200px;
}

.addTaskandUser{
  width: 100%;
  margin: 0 auto;
}
.viewAllSection{
  margin-top: 50px;
}

footer{
  padding-top:110px;
  height: 50px;
  left: 0;
  bottom: 0;
  width: 100%;

}

.fab{
  /* font-family: 'Quicksand', sans-serif !important; */
  color:  #ee826c;
}

.error{
  margin-top: 100px;
  text-align: center;
}

.registerNav{
  margin-left: 55%;
  
  }

/* ---------------------------RESPONSIVE DESIGN-----------------------------------*/



@media only screen and (max-width: 992px) {

  .navbar-nav{
    margin-left: 60%;
  }
  
  li{
    padding: 0 10px;
  }

  .headerText{
    margin-top: 35%;
  }

  #dailyText{
    font-size: 24px;
  }
  
  .blob{
    margin-top: 18%;
  }
  
  footer{
    padding-top: 20px;
  
  }
  #registeredForm{
    margin: 35% 5%;  
  }

  #loginCircle{
    margin-top: 10%;
    width: 70%;
    margin: 10% auto;
   }
.registerNav{
margin-left: 45%;

}
}


@media only screen and (max-width: 768px) {
#mac{
    height: 240px;
    width: 200px;
}

.blob{
  margin-top: 50%;
  margin-bottom: 20%;
}

#dailyText{
  font-size: 20px;
}

#simpleText{
    font-size: 24px;
}
  

#theBlob{
  height: 300px;
  width: 300px;

}

.headerText{
  margin-top: 70%;
  
}
 
footer{
  padding-top: 0px;

}

.navbar-nav{
  margin-left: 50%;

}
#loginCircle{
  margin-top: 15%;
  width: 80%;
 }

 #loginForm{
  margin-top: 50%;
 }

.card{
  width: 100%;
  height: auto
}

.userCol .card{
text-align: center;
margin: 0 auto;
margin-bottom: 50px;
}

.managerCol .card{
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
  }



#registeredForm{
  margin: 230px auto 230px 55px;

}

.registerNav{
margin-left: 45%;

}
body{ 
  background: red;
}
}

@media only screen and (max-width: 480px) {

.registerNav{
  margin-left: 10%;

}

.mainRow{
  margin: 0 auto;
  text-align: center;
}

#dailyText{
  font-size: 24px;
  text-align: center;
}

.blob{
 margin: 0 auto;
}

.navbar-nav{
  margin-left: 0;
}


#theBlob{
  height: 270px;
  width: 270px;
  margin-right: 20px;

}

}